<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiverr clone</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav>
        <div class="navlinks">
            <img src="/images/logo.png" id="logo-image" alt="Isocahedron Logo">
            <h2 id="logo-title">GoldenDevs</h2>
            <div class="navlink">
                <a href="/postings">Home</a>
                {{#if loggedIn}}
                <a href="/" id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
