<section class="landing-page">
    <div class="main-content">
        <div class="loggedOut_hompage">
            <div class="header">
                <h1 class="font">
                    <span>
                        "Welcome to Brandname"
                    </span>
                </h1>
                <div class="sign-up-or-log-in">
                    <a href="/signup" class="sign-up-button" >Sign Up</a>
                    <a class="log-in-button">Log In</a>
                </div>

            </div>
        </div>
    </div>

</section>

