<section class="landing-page">
    <div class="main-content">
        <div class="loggedOut_hompage">
            <div class="header">
                <h1 class="font">
                    <span>
                        "Welcome to Brandname"
                    </span>
                </h1>
                <div>
                    <a href="/api/post/postings" class="postings-button">Postings</a>
                </div>
            </div>
        </div>
    </div>

</section>

