<section class="log-in-page">
    <div class="form-heading">
        <h1>Log In</h1>
    </div>
    <div class="form-section">
        <form class="login-form" id="login-form">
            <div>
                <label for="email-login">Enter Email</label>
                <input type="text" class="add class" id="email-login" placeholder="Email Here!" />
            </div>
            <div>
                <label for="password-login">Enter password</label>
                <input type="password" class="add class" id="password-login" placeholder="Password Here!" />
            </div>
            <div>
                <button type="submit" class="add class">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="signup-link">sign up instead</a>
</section>

<script src="/javascript/login.js"></script>