<div class="container" id="'form">
    <form class="form" id="login-form">
            <input type="text" class="add class" id="email-login" placeholder="Email Here!" />
            <input type="password" class="add class" id="password-login" placeholder="Password Here!" />
            <button type="submit" class="add class">Log In!</button>
    </form>
</div>

<script src="/javascript/login.js"></script>