<div class="container" id="'form">
    <form class="form" id="post-form">
            <input type="text" id="name" placeholder="Name Here!" />
            <input type="text" id="job" placeholder="Job Here!" />
            <input type="text" id="tech" placeholder="Tech Here!" />
            <input type="text" id="price" placeholder="Price Here!" />
            <input type="text" id="description" placeholder="Description Here!" />
            <input type="text" id="profile" placeholder="Full Profile URL" />
            <button type="submit" class="add class">Post!</button>
    </form>
</div>

<script src="/javascript/postform.js"></script>