<div class="container" id="'form">
    <form class="form" id="post-form">
            <input type="text" id="name" placeholder="Name Here!" />
            <select type="text" id="job" placeholder="Job Here!" >
                <option value="frontend">Frontend</option>
                <option value="backend">Backend</option>
                <option value="fullstack">Full Stack</option>
                <option value="design">Design</option>
            </select>
            <input type="text" id="price" placeholder="Price Here!" />
            <input type="text" id="description" placeholder="Description Here!" />
            <input type="text" id="profile" placeholder="Portfolio URL" />

            <fieldset id="skills-list">
                {{#each tags as |tag|}}
                    <div id="radio-group">
                        <input type="checkbox" name="skills-list" value={{tag.id}}>
                        <img src={{tag.tech_icon}} id="tech-icon-large">
                    </div>
                {{/each}}
            </fieldset>
            
            <button type="submit">Post!</button>
    </form>
</div>

<script src="/javascript/postform.js"></script>