<div class="container" id="'form">
    <form class="form" id="project-form">
            <input type="text" id="title" placeholder="Title Here!" />
            <input type="text" id="projectdescription" placeholder="Description Here!" />
            <input type="text" id="budget" placeholder="Budget Here!" />
            <input type="date" id="deadline" value="0000-00-00" />
            
            <button type="submit">Post!</button>
    </form>
</div>

<script src="/javascript/projectform.js"></script>