<div class="container" id="form">
            <form class="form" id="signup-form">
                    <input type="text" class="add class" id="username-signup" placeholder="Username" />
                    <input type="text" class="add class" id="email-signup" placeholder="Email" />
                    <input type="password" class="add class" id="password-signup" placeholder="Password" />
                    <button type="submit" class="add class">Sign Up!</button>
                    <a href="/login" class="login-link">log in instead</a>
            </form>
</div>

<script src="/javascript/signup.js"></script>