<div class="container" id="form">
        <form class="form" id="signup-form">
                <input type="text" id="username-signup" placeholder="Username" />
                <input type="text" id="email-signup" placeholder="Email" />
                <input type="password" class="add class" id="password-signup" placeholder="Password" />
                <div>
                        <input type="radio" name="isDev" id="developer" value="true"> Are You a Developer Looking for Work?
                </div>
                <div>
                        <input type="radio" name="isDev" id="client" value="false"> Are You a Client Looking for Developers?
                </div>
                <button type="submit" class="add class">Sign Up!</button>
        </form>
</div>

<script src="/javascript/signup.js"></script>